# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Videos
*.mp4
Tapo*

*:Zone.Identifier
*.ses
:memory:*
.gofkucam
.vscode/
.cache/
.venv/
out/
build/
extern/libtorch/
test___/
extern/onnxruntime-*

*.pt
*.onnx
*.log
resources/yolo/venv/
config/*
captured_frames/
captured_frames/*
haku/
gofret/
CmakePresets.json
config/config.json

.DS_Store
